.mypage-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: 20rem;
    flex-direction: row;
    justify-content: center;
}

.button-container button {
    margin: 5%;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #19173D;
    color: white;
}