.container {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: 20% 60%;

}

.title {
    font-size: large;
    margin-top: 20rem;
    grid-column: span 2;
}

.container button {
    margin: 2rem 0.5rem;
    grid-column: span 2;
    background: #19173D;
    color: white;
    height: 2rem;
}

.container span {
    margin: 0.5rem 0;
}

.container input {
    margin: 0.5rem 0;
    height: fit-content;
    vertical-align: middle;
    border: none;
}
