.test-container {
    margin-top: 20rem;
}

button:first-child {
    background: #007bff;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    color: white;
    background: #19173D;
    width: 80%;
    --color-background-hover: white;
    margin: auto;
}
