.test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-container button:first-child {
    background: #007bff;
    margin-top: 20rem;
}

.test-container button {
    padding: 0.5rem;
    color: white;
    background: #19173D;
    --color-background-hover: white;
}
